
@{
    ViewData["Title"] = "DoctorWallet";
    ViewData["sizeTitle"] = "我的钱包";
    ViewData["name"] = "姓名可更改！";
    Layout = "~/Views/Shared/Doctor_Layout.cshtml";
    <script src="~/lib/jquery/dist/jquery.js"></script>
}


<div style="height:45px;width:auto;background-color:gainsboro">
    <text style="font-size:18px;">我的余额:</text><text style="color:orange;font-size:24px">￥<span id="myyv"></span></text>
    <button style="width:60px;height:30px;margin-left:200px;" onclick="location.href='/Doctor/SelectBankCard'">提现</button><button style="width:60px;height:30px;" onclick="location.href='/Doctor/TiedCard'">未绑卡</button>
</div>
<div style="display:flex; flex-wrap:wrap; height:40px; margin-top:10px;background-color:rgb(248,250,255)">
    <div style="line-height:40px;display:flex;">
        <div>
            <a style="margin-right:30px">今日</a><a style="margin-right:30px">本月</a><a style="margin-right:30px">本季</a>
        </div>
        <div style="text-align:right">
            <text>时间搜索:</text><input type="date" /><text>—</text><input type="date" /><button class="layui-btn layui-btn-primary">查询</button>
        </div>
    </div>
</div>
<div style="display: flex;background-color: gainsboro;margin-top:10px;">
    <div style="width:50%;height:50px;text-align:center; padding-top:10px; ">
        <text style="font-size: 24px;">我的收入:</text><text style="color:red;font-size:24px;">￥<span id="Income">11200</span></text>
    </div>
    <text style="font-size:30px;padding-top:10px;">|</text>
    <div style="width:50%;height:50px;text-align:center;padding-top:10px;">
        <text style="font-size: 24px;">我的支出:</text><text style="color:red;font-size:24px;">￥<span id="Expend">11200</span></text>
    </div>
</div>
<table class="layui-hide" id="test"></table>

<!-- 注意：如果你直接复制所有代码到本地，上述 JS 路径需要改成你本地的 -->

<script>
    var id = 142;
    layui.use('table', function () {
        var table = layui.table;

        table.render({
            elem: '#test'
            , url: 'http://localhost:49721/api/DoctorLog/GetDoctor_detailed?Doctor_ID=' + id
            , height: 420
            , async: false
            , cols: [[
                { field: 'createtime', align: 'center', title: '时间' }
                , { field: 'id', align: 'center', title: '订单流水' }
                , { field: '_order', align: 'center', title: '交易类型' }
                , { field: '_money', align: 'center', title: '金额' }
            ]]
            , page: true
        });
    });
    $.ajax({
        url: 'http://localhost:49721/api/DoctorLog/Getbalance?Doctor_ID=' + id,
        type: 'get',
        async: false,
        success: function (res) {
            console.log(res.data);
            $("#myyv").text((res.data));
        }
    })
    $.ajax({
        url: 'http://localhost:49721/api/DoctorLog/GetIncomeExpend?Doctor_ID=' + id,
        type: 'get',
        async: false,
        success: function (res) {
            console.log(res.SumIncome);
            console.log(res.SumExpend);
            $("#Income").text((res.SumIncome));
            $("#Expend").text((res.SumExpend));
        }
    })
</script>

