
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Patient_Backfill</title>

    <script src="~/vue/vue.js"></script>
    <script src="~/vue/axios.min.js"></script>
</head>
<body>
    <div id="app">
        <table>
            <tr>
                <td></td>
                <td>
                    <span>{{list.createtime}}</span>
                </td>
            </tr>
            <tr>
                <td>患者姓名</td>
                <td>
                    <span>{{list.name}}</span>
                </td>
            </tr>
            <tr>
                <td>年龄</td>
                <td><span>{{list.age}}</span></td>
            </tr>
            <tr>
                <td>性别</td>
                <td><span>{{list.sex}}</span></td>
            </tr>
            <tr>
                <td>身高</td>
                <td><span>{{list.height}}cm</span></td>
            </tr>
            <tr>
                <td>体重</td>
                <td><span>{{list._weight}}公斤</span></td>
            </tr>
            <tr>
                <td>病情描述</td>
                <td><span>{{list.describe}}</span></td>
            </tr>
            <tr>
                <td>肾功能</td>
                <td><span>{{list.kidney}}</span></td>
            </tr>
            <tr>
                <td>婚姻状况</td>
                <td><span>{{list.marriage}}</span></td>
            </tr>
            <tr>
                <td>生育状况</td>
                <td><span>{{list.birth}}</span></td>
            </tr>
            <tr>
                <td>疾病史</td>
                <td><span>{{list._case}}</span></td>
            </tr>
            <tr>
                <td>肝功能</td>
                <td><span>{{list.liver_function}}</span></td>
            </tr>
            @*<tr>
                    <td></td>
                    <td><input type="button" value="生成判断" /></td>
                </tr>*@
        </table>
    </div>
</body>
</html>
<script>
    var id = location.href.split('=')[1];
    console.log(id);
    var vue = new Vue({
        el: '#app',
        data: {
            UserInfo: {
                id: id,
                createtime: "",
                name: "",
                age: 0,
                sex: "",
                height: 0,
                _weight: 0,
                describe: "",
                kidney: "",
                marriage: "",
                birth: "",
                _case: "",
                liver_function: ""
            },
            list: ""
        },
        mounted() {
            axios.get("http://localhost:49721/api/DoctorLog/GetFt?id=" + id)
                .then(msg => (
                    this.list = msg.data.data,
                    console.log(msg.data.data)
                ))

                .catch(error => { console.log(error); })
        }
    })
</script>
