
@{
    ViewData["Title"] = "ReceptionAmount";
    Layout = "~/Views/Shared/Doctor_Layout.cshtml";
}

@*<h1>ReceptionAmount</h1>*@

<div class="layui-body">
    内容主体区域
    @*<div style="padding: 15px;">内容主体区域</div>*@
    <div id="app">
        <template>
            <h3>时间搜索:</h3>
            <el-row :gutter="6">
                <el-col :span="3">
                    <div class="grid-content bg-purple">

                        <el-input placeholder="选择开始时间"
                                  suffix-icon="el-icon-date"
                                  v-model="input1">
                        </el-input>
                    </div>
                </el-col>
                <el-col :span="3">
                    <div class="grid-content bg-purple">

                        <el-input placeholder="选择结束时间"
                                  suffix-icon="el-icon-date"
                                  v-model="input2">
                        </el-input>
                    </div>
                </el-col>
            </el-row>

            <el-row :gutter="8">
                <el-col :span="5"><div class="grid-content bg-purple"><el-input v-model="input" placeholder="请输入患者或手机号"></el-input></div></el-col>
                <el-col :span="3"><div class="grid-content bg-purple"><el-button type="primary" @@click="Initda" icon="el-icon-search">搜索</el-button></div></el-col>
            </el-row>
        </template>

        <template>
            <el-table :data="tableData"
                      style="width: 100%">
                <el-table-column prop="xuHao"
                                 label="序号"
                                 width="180">
                </el-table-column>
                <el-table-column prop="createtime"
                                 label="日期"
                                 width="180">
                </el-table-column>
                <el-table-column prop="total"
                                 label="总金额"
                                 width="180">
                </el-table-column>
                <el-table-column prop="patients"
                                 label="患者数量"
                                 width="180">
                </el-table-column>
                <el-table-column label="操作">
                    <template slot-scope="scope">
                        <el-button size="small"
                                   type="blue"
                                   @@click="handleDelete(scope.row.createtime)">查看</el-button>

                        <el-popover placement="right"
                                    width="600"
                                    trigger="click">
                            <el-table :data="gridData">
                                <el-table-column width="150" property="xuHao" label="序号"></el-table-column>
                                <el-table-column width="150" property="name" label="姓名"></el-table-column>
                                <el-table-column width="150" property="describe" label="病情描述"></el-table-column>
                                <el-table-column width="150" property="evaluate" label="评价"></el-table-column>
                                <el-table-column width="150" property="" label="星评">
                                    <el-rate v-model="value"
                                             disabled
                                             show-score
                                             text-color="#ff9900"
                                             score-template="{value}">
                                    </el-rate>
                                </el-table-column>
                            </el-table>
                            <el-button slot="reference">评价</el-button>
                        </el-popover>
                    </template>
                </el-table-column>
            </el-table>

        </template>
        <el-pagination @@size-change="handleSizeChange"
                       @@current-change="handleCurrentChange"
                       :current-page="pageindex"
                       :page-sizes="[1, 2, 3, 4]"
                       :page-size="pagesize"
                       layout="total, sizes, prev, pager, next, jumper"
                       :total="count">
        </el-pagination>
        @*<el-popover placement="right"  //弹框
                        width="400"
                        trigger="click">
                <el-table :data="gridData">
                    <el-table-column width="150" property="date" label="日期"></el-table-column>
                    <el-table-column width="100" property="name" label="姓名"></el-table-column>
                    <el-table-column width="300" property="address" label="地址"></el-table-column>
                </el-table>
                <el-button slot="reference">click 激活</el-button>
            </el-popover>*@
        @*<el-rate v-model="value"      //评价
                     disabled
                     show-score
                     text-color="#ff9900"
                     score-template="{value}">
            </el-rate>*@
        @*//<div v-for="item in ren">{{item.name}}</div>*@
    </div>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            tableData: [],
            ren: [],
            input: '',       //查询输入框
            input1: '',      //查询开始时间
            input2:'',       //查询结束时间
            pageindex: 1,
            pagesize: 4,
            count: 7,
            gridData: [],  //弹框
            value: 3,
            Sj:'',

        },
        methods: {
            Initda: function () {
                axios.get("http://localhost:49721/api/DoctorLog/GetManagement?pageindex=" + this.pageindex + "&pagesize=" + this.pagesize).then(res => {
                    console.log(res);
                    this.ren = res.data.data;
                    this.tableData = res.data.data;
                    console.log(res.data.data[0].sj);
                    this.gridData = res.data.data; //弹框
                }).catch(error => {
                    console.log(error);
                })
            },
            handleSizeChange(val) {
                console.log(`每页 ${val} 条`);
                this.pagesize = val;
                this.Initda();
            },
            handleCurrentChange(val) {
                console.log(`当前页: ${val}`);
                this.pageindex = val;
                this.Initda();
            },
            handleDelete(val) {
                console.log(val);
                location.href = "/Doctor/DiagnosticDetails?tem=" + val;
            },
        },
        mounted() {
            this.Initda();
        },
    })

</script>