
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Audit_managementpop</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link href="~/layui/css/layui.css" rel="stylesheet" />

</head>
<body>

    <div style="margin-left:100px;">
        <span style="font-size:30px;margin-left:220px;">医生注册表</span>
        <table>
            <tr style="height:50px;">
                <td>医师姓名:<span id="name"></span></td>
                <td>联系电话:<span id="tel"></span></td>
            </tr>
            <tr style="height:50px;">
                <td>隶属医院:<span id="li"></span></td>
                <td>身份证号:<span id="shen"></span></td>
            </tr>
            <tr style="height:50px;">
                <td>医师等级:<span id="yi"></span></td>
            </tr>
            <tr style="height:50px;">
                <td>身份证正面上传</td>
                <td>医师执业证书上传</td>
                <td>医师资格证书上传</td>
            </tr>
            <tr style="height:50px;">
                <td id="img1">
                    <img src="~/images/photo.jpg" style="width:200px;height:100px;" />
                </td>
                <td id="img2">
                    <img src="~/images/photo.jpg" style="width:200px;height:100px;" />
                </td>
                <td id="img3">
                    <img src="~/images/photo.jpg" style="width:200px;height:100px;" />
                </td>
            </tr>
            <tr style="height:50px;">
                <td>
                    <input id="Radio1" name="sex" type="radio" />通过
                    <input id="Radio2" name="sex" type="radio" />不通过
                </td>
            </tr>
            <tr style="height:50px;" id="yin">
                <td>
                    原因:<input id="text" type="text" />
                </td>
            </tr>
         </table>
        <div style="width:1000px;height:50px;">
            <input style=" margin-top:40px; margin-left: 220px; width: 100px;" class="layui-btn layui-btn-normal" type="button" onclick="upt()" value="提交" />
        </div>
       
    </div>


</body>
</html>


<script>

    var id = localStorage.getItem("state0");
    console.log(id);

    $(function () {

        fan();
        var t = document.getElementById('yin');//选取id为yin的元素
        t.style.display = 'none';	// 隐藏选择的元素
    });

    function fan() {
        $.ajax({
            url: 'http://localhost:49721/api/Backstage/GetDoct_Fan_relationList?id=' + id,
            type: 'get',
            //data: JSON.stringify(data),
            //contentType: "application/json",
            //dataType: "json",

            success: function (d) {
                console.log(d);
                console.log(d.data);
                console.log(d.data[0].userName);


                $("#name").text(d.data[0].userName);
                $("#tel").text(d.data[0].cellPhone);
                $("#li").text(d.data[0].hospital_Id);
                $("#shen").text(d.data[0]._identity);
                $("#yi").text(d.data[0].kidney);
                //$("#img1").text(d.data[0]._certificate);
                //$("#img2").text(d.data[0]._certificate);
                //$("#img3").text(d.data[0]._certificate);

                //$("#nmae").text(createtime);
            }
        })

    }


    function upt() {

        if ($("#Radio1").prop("checked")) {

            var t = document.getElementById('yin');//选取id为yin的元素
            t.style.display = 'none';	// 隐藏选择的元素
            //$(".toggle").val().hide();

            var url = 'http://localhost:49721/api/Backstage/GetUpdateDoct_true?DoctorLog_Id=' + id;
            $.ajax({
                url: url,
                type: 'get',
                success: function (d) {
                    console.log(d);

                    alert('审核已通过');


                }
            })
        }
        else if ($("#Radio2").prop("checked")) {

            //$(".toggle").val().show();
            var t = document.getElementById('yin');//选取id为yin的元素
            t.style.display = 'block';	// 以块级样式显示

            var yuan = $("#text").text();

            var url = 'http://localhost:49721/api/Backstage/GetUpdateDoct_first?DoctorLog_Id=' + id + '&reason=' + yuan;
            $.ajax({
                url: url,
                type: 'get',
                success: function (d) {
                    console.log(d);
                    alert('审核未通过');


                }
            })
        }





    }


</script>