
@{
    ViewData["Title"] = "Hospital_department";
    ViewData["sizeTitle"] = "科室类型";
    Layout = "~/Views/Shared/backstage_Layout.cshtml";
}


@*数据表格的重载*@
<div class="demoTable" style="margin-left: 900px;">
    搜索名字：
    <div class="layui-inline">
        <input class="layui-input" name="id" id="demoReload" autocomplete="off">
    </div>
    <button class="layui-btn" data-type="reload">搜索</button>
</div>

@*医院列表*@
<div>
    <table id="demo" lay-filter="test"></table>
</div>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="detail">进入</a>

</script>

<script>

        //var id = location.href.split("=")[1];
        //console.log(id);

        var Hospital_list = localStorage.getItem("hospital_Id");

        layui.use('table', function () {
            var table = layui.table;

            //第一个实例
            hd=table.render({
                elem: '#demo'
                , height: 312
                , url: 'http://localhost:49721/api/Backstage/GetDepaList?page=1&limit=2&hospital_Id=' + Hospital_list //数据接口
                , page: true //开启分页
                , cols: [[ //表头
                    { field: 'id', title: 'ID', fixed: 'left', align: 'center' }
                    , { field: 'name', title: '科室', align: 'center' }
                    , { field: 'cycount', title: '医生人数', align: 'center' }
                    , { field: 'frequency', title: '问诊次数', align: 'center' }
                    , { field: 'praise', title: '好评度', align: 'center' }
                    , { fixed: 'right', width: 150, align: 'center', toolbar: '#barDemo' }

                ]]
            });

            //监听行工具事件
            table.on('tool(test)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
                var data = obj.data //获得当前行数据
                    , layEvent = obj.event; //获得 lay-event 对应的值
                if (layEvent === 'detail') {
                    var id = obj.data.id;

                    localStorage.setItem('department_id', id);
                    location.href = '/Backstage/Hospital_Type';
                }
            });


            //数据表格的重载
            var $ = layui.$, active = {
                reload: function () {
                    var demoReload = $('#demoReload');

                    //执行重载
                    hd.reload({
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                        , where: {
                            hospital_Id: $("#demoReload").val()
                        }
                    });
                }
            };

            $('.demoTable .layui-btn').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });

        });
</script>

